<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minecraft工具箱 - MCDI</title>
    <link rel="shortcut icon" href="#" />

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/base_api.js"></script>

    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <script src="/static/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>