{% extends "base.html" %}

{% block head %}
    <script src="/static/js/wizard_api.js"></script>
{% endblock %}

{% block body %}
    <div class="root">
        <div class="card root-card horizontal">
            <div class="card-image">
                <img src="/static/img/banner.png" ondragstart="return false;"/>
            </div>
            <div class="card-stacked">
                <div class="card-content" id="wizard-pg-0">
                    <h1>欢迎使用MCDI。</h1>
                    <div>
                        这似乎是您首次运行MCDI。本向导可以指导您充分利用MCDI，并帮助您完成首次运行前的配置。这只需要1-2分钟。现在就开始吧。
                    </div>
                    <small>稍后您仍可更改这些设置。很熟悉MCDI？您当然也可以跳过向导。</small>
                </div>
                <div class="card-content" id="wizard-pg-1" style="display: none">
                    <h1>您游玩何种游戏？</h1>
                    <div>
                        <div>
                            请在下方的单选框里选择您的Minecraft类型。
                        </div>
                        <small>1.12.2及更低的版本已不受支持。</small>

                        <form>
                            <p>
                                <label>
                                    <input class="with-gap" name="midi-type" type="radio" id="mc-type-client"/>
                                    <span>我通常使用客户端。</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="midi-type" type="radio" id="mc-type-server"/>
                                    <span>我通常使用服务端。</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="card-content" id="wizard-pg-2" style="display: none">
                    <h1>您的游戏在何处？</h1>
                    <div>
                        <div>
                            请在下方的文本框里键入或<a id="mc-path-open">浏览</a>您的游戏路径。
                        </div>

                        <div class="row input-field">
                            <i class="material-icons prefix">folder_open</i>
                            <input id="mc-path" type="text">
                            <label for="mc-path">游戏路径</label>
                        </div>
                    </div>
                </div>
                <div class="card-content" id="wizard-pg-3" style="display: none">
                    <h1>您使用什么版本？</h1>
                    <div>
                        <div>
                            请在下方的下拉框里选择您的Minecraft版本。
                        </div>
                        <small>1.12.2及更低的版本已不受支持。</small>

                        <div class="row">
                            <label for="mc-ver">Minecraft版本</label>
                            <select class="browser-default" id="mc-ver">
                                <option value="" disabled selected>-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-content" id="wizard-pg-4" style="display: none">
                    <h1>您希望如何生成？</h1>
                    <div>
                        <div>
                            请在下方的选择框里选择您的生成方式。
                        </div>

                        <div class="row">
                            <form>
                                <p>
                                    <label>
                                        <input class="with-gap" name="midi-type" type="radio" id="midi-type-ig"/>
                                        <span>我希望使用游戏内的资源包。（红石音乐）</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input class="with-gap" name="midi-type" type="radio" id="midi-type-rt"/>
                                        <span>我希望使用外部的MIDI音源。（黑石音乐）</span>
                                    </label>
                                </p>
                            </form>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox"  id="auto-adjust" checked/>
                                <span>我希望MCDI为我自动调整好所有的参数。</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn" id="wizard-skip">跳过</button>
                    <button class="waves-effect waves-light btn" id="wizard-prev">上一步</button>
                    <button class="waves-effect waves-light btn" id="wizard-next">下一步</button>
                    <button class="waves-effect waves-light btn" id="wizard-finish">完成</button>
                    <button class="waves-effect waves-light btn" id="wizard-exit">退出</button>
                </div>
            </div>
        </div>
        <script>
            wizard.init(0, true, false);
        </script>
    </div>
{% endblock %}
